---
import BlogNavigation from "./BlogNavigation.astro";
---
<header>
    <nav class="fixed top-0 left-0 w-full bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <BlogNavigation />
    </nav>
</header>