---
import Navigation from '../components/Navigation.astro';
---

<header class="mb-10">
    <nav class="flex items-center p-2 space-x-4 fixed top-0 left-0 w-full bg-blue-950 h-10 text-white">
        <Navigation />
    </nav>
</header>