<a class="hover:bg-purple-900 h-10 w-16 px-2 pt-1" href="/">Home</a>
<a class="hover:bg-purple-900 h-10 w-16 px-2 pt-1" href="/about/">About</a>
<a class="hover:bg-purple-900 h-10 w-16 px-2 pt-1" href="/blog/">Blog</a>