---
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';

const { pageTitle } = Astro.props;
---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-white dark:bg-gray-900 font-sans m-0 auto w-full max-w-80ch p-2">
    <BlogHeader />
    <h1 class="my-2 text-3xl text-purple-800">{pageTitle}</h1>
    <slot />
	<BlogFooter />
  </body>
</html>
