---
import BlogBaseLayout from "./BlogBaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BlogBaseLayout pageTitle={frontmatter.title}>
  <section class="bg-sky-50 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 lg:grid lg:grid-cols-2">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">{frontmatter.title}</h2>
              <p>Published on : {frontmatter.pubDate.slice(0, 10)}</p>
              <p><em>{frontmatter.description}</em></p>
              <p>Written by {frontmatter.author}</p>
              <slot />
        </div>
        <div class="gap-4 mt-8">
          <img class="w-80 h-96 ml-52 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
        </div>
    </div>
  </section>
</BlogBaseLayout>
